<h1 mat-dialog-title></h1>
<div mat-dialog-content>
  <p *ngIf="!data.assignement.rendu; else msgRendu" style="text-align: center;font-size: 19px;">
    Voulez-vous <b><em>&quot;rendre&quot;</em></b> le devoir "{{data.assignement.matiere.nom}}"  de l'élève {{data.assignement.nom}}?
  </p>
  <ng-template #msgRendu>
    <p style="text-align: center;font-size: 19px;">
      Voulez-vous changer le devoir "{{data.assignement.matiere.nom}}"  de l'élève {{data.assignement.nom}} en <b><em>&quot;Non rendu&quot;</em></b>?
    </p>
  </ng-template>
  <mat-form-field *ngIf="!data.assignement.rendu">
    <mat-label>Il faut entrer une note</mat-label>
    <input matInput [(ngModel)]="note">
    
  </mat-form-field>
  <mat-form-field *ngIf="!data.assignement.rendu">
    <mat-label>Remarques</mat-label>
    <textarea matInput [(ngModel)]="remarque"></textarea>
    
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button (click)="onYesClick()"  style="color: rgb(118, 160, 76);background-color: white;">Valider
    </button>
</div>
