.container {
  margin: 30px;
}

#bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.profs{
  text-align: left !important;
  position: absolute;
  left: 10px;
  top: 20px;
}
