.container {
  display: flex;
  flex-direction: column;
}

.actionBtn {
  align-self: flex-end;
}

.example-viewport {
  height: 600px;
  width: 100%;
  /*border: 1px solid black;*/
}

.example-item {
  height: 50px;
}

.a-not-a-link {
  text-decoration: none;
}
