<main class="container">
  <a routerLink="/add" class="ajouterBtn" *ngIf="isAdmin">
    <span style="font-size: 60px  !important" class="material-icons">
      add_circle
      </span>
  </a>
  <h1>Liste des assignments</h1>
  <mat-divider></mat-divider>
    <mat-tab-group (selectedIndexChange)="onTabChanged($event)">
      <ngx-spinner
        size="medium"
        [fullScreen]="false"
      ></ngx-spinner>
      <mat-tab label="Rendu">
        <cdk-virtual-scroll-viewport #scroller class="example-viewport" itemSize="50">
          <mat-list *cdkVirtualFor="let a of assignmentsRendu">
            <nav>
              
                <mat-list-item class="row" style="height: 180px; padding-left: 20px;margin-bottom: 15px;">
                  <mat-card class="example-card col-md-12" style="">
                    <a routerLink="/assignment/{{a.id}}" class="a-not-a-link">
                      <mat-card-header class="row mb-4" >
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-md-2">
                              <img style="width: 50px; margin: 0; height: 50px" src="assets/images/{{a.matiere.image}}"
                                    alt="...">
                            </div>
                            <div class="col-md-8">
                              <span class="card-title" style="font-size: 25px">Devoir {{a.matiere.nom}}</span><br>
                              <span class="card-subtitle" style="color: gray">{{a.dateDeRendu | date}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <img style="width: 50px; margin: 0; float: right" src="assets/images/{{a.matiere.image_prof}}"
                                alt="...">
                        </div>
                      </mat-card-header>
                    </a>
                    
                    <mat-card-content>
                      <a routerLink="/assignment/{{a.id}}" class="a-not-a-link">
                      <div class="row">
                        <div class="col-md-2" style="font-size: 15px">Auteur:</div>
                        <div class="col-md-8" style="font-size: 20px">
                          <span style="padding-bottom: 5px">{{a.nom}}</span>
                        </div>
                      </div>
                      </a>
                      <div class="admin-edition">
                        
                        <button style="" [disabled]="!authService.isAdmin" mat-stroked-button  (click)="onClickEdit(a)"> <span class="material-icons">
                          edit
                          </span> </button>
                        <button [disabled]="!authService.isAdmin" mat-stroked-button color="warn" (click)="onDelete(a)"><span class="material-icons">
                          delete_forever
                          </span></button>                   
                      </div>
                    </mat-card-content>
                  
                  </mat-card>
                </mat-list-item>
            
            </nav>
          </mat-list>
        </cdk-virtual-scroll-viewport>
      </mat-tab>


      <mat-tab label="Non rendu">
        <cdk-virtual-scroll-viewport #scrollerNonRendu class="example-viewport" itemSize="50">
          <mat-list *cdkVirtualFor="let a of assignmentsNonRendu">
            <nav>
         
                <mat-list-item class="row" style="height: 180px; padding-left: 20px;margin-bottom: 15px;">
                  <mat-card class="example-card col-md-12">
                    <a routerLink="/assignment/{{a.id}}" class="a-not-a-link">
                    <mat-card-header class="row mb-4">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-2">
                            <img style="width: 50px; margin: 0; height: 50px" src="assets/images/{{a.matiere.image}}"
                                 alt="...">
                          </div>
                          <div class="col-md-8">
                            <span class="card-title" style="font-size: 25px">Devoir {{a.matiere.nom}}</span><br>
                            <span class="card-subtitle" style="color: gray">{{a.dateDeRendu | date}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <img style="width: 50px; margin: 0; float: right" src="assets/images/{{a.matiere.image_prof}}"
                             alt="...">
                      </div>
                    </mat-card-header>
                    </a>
                    <mat-card-content>
                      <a routerLink="/assignment/{{a.id}}" class="a-not-a-link">
                      <div class="row">
                        <div class="col-md-2" style="font-size: 15px">Auteur:</div>
                        <div class="col-md-8" style="font-size: 20px">
                          <span style="padding-bottom: 5px">{{a.nom}}</span>
                        </div>
                      </div>
                      </a>
                      <div class="admin-edition">
                        
                        <button style="" [disabled]="!authService.isAdmin" mat-stroked-button  (click)="onClickEdit(a)"> <span class="material-icons">
                          edit
                          </span> </button>
                        <button [disabled]="!authService.isAdmin" mat-stroked-button color="warn" (click)="onDelete(a)"><span class="material-icons">
                          delete_forever
                          </span></button>                   
                      </div>
                    </mat-card-content>
                  </mat-card>
                </mat-list-item>
        
            </nav>
          </mat-list>
        </cdk-virtual-scroll-viewport>
      </mat-tab>
    </mat-tab-group>
</main>
