.container {
  display: flex;
  flex-direction: column;
}

.ajouterBtn {
  display: flex;
  margin: auto;
  color: #1d990c  !important;
}

.example-viewport {
  height: 700px;
  width: 100%;
  /*border: 1px solid black;*/
}

.example-item {
  height: 50px;
}

.a-not-a-link {
  text-decoration: none;
}
.admin-edition{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}
