<html>
<body>
    <ngx-spinner
  size="medium"
>
</ngx-spinner> 
<div id="login">
    <div class="container">
        <header>Se connecter</header>

       
            <div class="error_message">{{error_message}}</div>
        

        <form ngForm #formLogin class="form" (submit)="onSubmit($event); formLogin.reset();">
            <div class="input-field">
                <input  type="text" class="text" required [(ngModel)]="username" name="username" id="username" autocapitalize="none"/>

                <label >Email:</label>
            </div>

            <div class="input-field">
                <input [type]="isPassword ? 'password' : 'text'" required [(ngModel)]="password" class="pswrd" name="password" id="password"/>

                <label>Mot de passe:</label>
                <span class="show" (click)="togglePassword()">{{isPassword ? 'SHOW' : 'HIDE'}}</span>
            </div>

           

            <div class="button">
                <div class="inner">
                </div>
                <input type="submit" id="submit" value="Se connecter"/>
            </div>
            <a href="{{url_redirect}}"> retour</a>
        </form>
    </div>
</div>
<script>
    var input = document.querySelector('.pswrd');
    var show = document.querySelector('.show');
    console.log("script");
    show.addEventListener('click', active);
    function active(){
        if(input.type === "password"){
            input.type = "text";
            show.style.color = "#1DA1F2";
            show.textContent = "HIDE";
        }else{
            input.type = "password";
            show.textContent = "SHOW";
            show.style.color = "#111";
        }
    }
</script>
</body>
</html>