<div *ngIf="!isLogin">

  <ngx-spinner
  size="medium"
>
</ngx-spinner>
<h1>
<nav>
  <a routerLink="/home">{{title}}</a>
</nav>
</h1>
<mat-button *ngIf="!isAdmin" (click)="login()">Log me!</mat-button>
<p *ngIf="isAdmin">{{authService.admin.nom}}</p>
<button mat-stroked-button *ngIf="isAdmin" color="primary" (click)="peuplerBD()">PeuplerBD</button>
<button mat-stroked-button *ngIf="isAdmin" color="primary" (click)="logout()">Se deconnecter</button>
</div>




<!-- Indique qu'on affichera le composant qui correspond à l'URL courant -->
<router-outlet></router-outlet>
