<h2 style="text-align: center;">Modification de l'assignment</h2>

<div class="col-lg-6" style="margin:auto;">
<mat-card>
  <mat-card-content>



    <form ngForm #formAssignment class="form" (submit)="onSubmit($event);">
      <mat-form-field>
        <input matInput placeholder="Nom de l'eleve" required [(ngModel)]="nom" name="nom">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Choisissez une date</mat-label>
        <input matInput [matDatepicker]="picker" required [(ngModel)]="dateDeRendu" name="date">

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field >
        <input matInput placeholder="Note du devoir" [(ngModel)]="note" name="note">
      </mat-form-field>

        <ng-select #selectMatieres placeholder="Matières" [(ngModel)]="matiere"  [ngModelOptions]="{standalone: true}" required>
          <ng-option *ngFor="let m of matieres"
                      [value]="m" style="position: relative">
            <img src="assets/images/{{m.image}}" alt="{{m.image}}" style="width: 20px"> {{m.nom}}
          </ng-option>
        </ng-select>

      <mat-slide-toggle style="margin-bottom: 40px;" [(ngModel)]="rendu" [ngModelOptions]="{standalone: true}">rendu</mat-slide-toggle>
      <button class="col-lg-2 bouton_modifier" style="margin:auto" mat-raised-button color="#a2a832"
      >
        Modifier le devoir
      </button>
    </form>

</mat-card-content>
</mat-card>
</div>

